<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Administrator')}"></head>
<body th:replace="~{layout :: base(~{::section})}">
    <section>
        <!-- Thymeleaf 템플릿 형태, bootstrap css를 이용하여 -->
        <h2>대시보드</h2>
        <hr>
        <div class="row g-3 my-3">
            <div class="col-12 col-lg-4">
                <div class="dboard-box" style="--bg-color:#28a745">
                    <div class="dboard-title">총 기사수</div>
                    <div class="dboard-content">
                        <div class="dboard-value">
                            <span th:text="${counts.articles}"></span>
                        </div>
                        <div class="dboard-icon">
                            <i class="bi bi-card-list"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="dboard-box" style="--bg-color:#FFA500">
                    <div class="dboard-title">발행처 수</div>
                    <div class="dboard-content">
                        <div class="dboard-value">
                            <span th:text="${counts.sources}"></span>
                        </div>
                        <div class="dboard-icon">
                            <i class="bi bi-bell"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="dboard-box" style="--bg-color:#EE82EE">
                    <div class="dboard-title">카테고리 수</div>
                    <div class="dboard-content">
                        <div class="dboard-value">
                            <span th:text="${counts.categories}"></span>
                        </div>
                        <div class="dboard-icon">
                            <i class="bi bi-bookmark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>